# dependencies
node_modules

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build artifacts
dist
tsconfig.tsbuildinfo

# parcel
.parcel-cache
