:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
}

.getting-started {
  margin-left: 15vw;
  padding: 16px;
  max-width: 30vw;
  display: none;
}

@media (min-width: 768px) {
  .getting-started {
    display: inline;
  }
}

.todos-container {
  top: 30vh;
  position: fixed;
  right: 30vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todo {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 8px;
}

.btn {
  margin-left: 8px;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.todo-input {
  border-radius: 0.25em;
  border-color: cornflowerblue;
  padding: 0.5em 1em;
  background-color: #242424;
  color: #fff;
  font-size: 1em;
}

.x-button {
  border: none;
  background-color: transparent;
  display: none;
}
.x-button:hover {
  filter: brightness(1.5);
}

.todo:hover .x-button {
  display: block;
}

.connection-status {
}
