<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triplit + Excalidraw</title>
    <meta name="description" content="Triplit is a complete solution to data persistence, state management, and realtime synchronization for web applications that want to go fast. In this demo, we combine the power of Triplit with Excalidraw to very simply create a powerful collaborative drawing tool." key="desc" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Triplit + Excalidraw" />
    <meta property="og:url" content="https://excalidraw.triplit.dev/" />
    <meta property="og:description" content="Triplit is a complete solution to data persistence, state management, and realtime synchronization for web applications that want to go fast. In this demo, we combine the power of Triplit with Excalidraw to very simply create a powerful collaborative drawing tool." />
    <meta property="og:image" content="triplit.dev/opengraph-image.png"/>
    <meta property="og:image:alt" content="Triplit Logo" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tripli_dev" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
