name: Test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22.x
          cache: 'yarn'
      - uses: oven-sh/setup-bun@v2
      - run: yarn install --immutable
      - run: yarn build:packages
      - run: yarn test
    env:
      GITHUB_TOKEN: ${{ secrets.CI_ACCESS_TOKEN }}
